<template>
  <b-v-html-or-slot
    tag="button"
    :html="content"
    type="button"
    :disabled="disabled"
    :class="classes"
    :aria-label="ariaLabel"
    @click="onClick"
  >
    <slot v-if="$slots['default']"></slot>
  </b-v-html-or-slot>
</template>

<script setup lang="ts">
import { computed, PropType } from 'vue'

import BVHtmlOrSlot from '../bv-html-or-slot/BVHtmlOrSlot.vue'

const props = defineProps({
  ariaLabel: { type: String, default: 'Close' },
  content: { type: String, default: '&times;' },
  textVariant: { type: String as PropType<string | null>, default: null },
  disabled: { type: Boolean, default: false },
})

const emit = defineEmits<{
  (e: 'click', event: MouseEvent): void
}>()

const classes = computed(() => ({
  close: true,
  [`text-${props.textVariant}`]: Boolean(props.textVariant),
}))

const onClick = (e: MouseEvent) => {
  if (props.disabled) {
    e.stopPropagation()
    return
  }

  emit('click', e)
}
</script>
