<template>
  <div v-if="attrs['class']" :class="attrs['class']" :style="style">
    <slot />
  </div>
  <slot v-else />
</template>
<script setup lang="ts">
import { useAttrs, computed, StyleValue } from 'vue'

const attrs = useAttrs()
const style = computed(() => attrs['style'] as StyleValue | undefined)
</script>
