<template>
  <table class="table b-table">
    <b-v-html-or-slot
      v-if="captionId !== undefined"
      :id="captionId"
      tag="caption"
      :text="caption"
      :html="captionHtml"
    >
      <slot :name="SLOT_NAME_TABLE_CAPTION"></slot>
    </b-v-html-or-slot>
    <colgroup v-if="$slots[SLOT_NAME_TABLE_COLGROUP]">
      <slot :name="SLOT_NAME_TABLE_COLGROUP" :columns="fields.length" :fields="fields"></slot>
    </colgroup>
    <b-v-thead
      v-if="!isStackedAlways && fields.length > 0"
      type="thead"
      :class="theadClass"
      :variant="headVariant"
      :row-variant="headRowVariant"
      :tr-class="theadTrClass"
    >
      <template #[SLOT_NAME_THEAD_TOP]="scope">
        <slot :name="SLOT_NAME_THEAD_TOP" v-bind="scope"></slot>
      </template>
      <template v-for="slot of headSlots" #[slot]="scope">
        <slot :name="slot" v-bind="scope" />
      </template>
    </b-v-thead>
    <b-v-tbody>
      <template v-for="slot of bodySlots" #[slot]="scope">
        <slot :name="slot" v-bind="scope" />
      </template>
    </b-v-tbody>
    <!-- tfoot: todo check v-if -->
    <b-v-thead
      v-if="!isStackedAlways && fields.length > 0"
      type="tfoot"
      :class="tfootClass"
      :variant="footVariant || headVariant"
      :row-variant="footRowVariant || headRowVariant"
      :tr-class="tfootTrClass || theadTrClass"
    >
      <template v-for="slot of [...footSlots, ...headSlots]" #[slot]="scope">
        <slot :name="slot" v-bind="scope" />
      </template>
    </b-v-thead>
  </table>
</template>
<script setup lang="ts">
import { computed, useSlots } from 'vue'
import {
  SLOT_NAME_BOTTOM_ROW,
  SLOT_NAME_TABLE_BUSY,
  SLOT_NAME_THEAD_TOP,
  SLOT_NAME_TOP_ROW,
} from '../../../constants/slots'
import { useSharedTablePropsContext } from '../composables/useSharedTableProps'
import { useTableStylingContext } from '../composables/useTableStyling'
import { useFieldsContext } from '../composables/useFields'
import { useBusyContext } from '../composables/useBusy'
import { useStackedContext } from '../composables/useStacked'

import {
  SLOT_NAME_TABLE_CAPTION,
  SLOT_NAME_TABLE_COLGROUP,
  SLOT_NAME_ROW_DETAILS,
} from '../../../constants/slots'

import BVHtmlOrSlot from '../../bv-html-or-slot/BVHtmlOrSlot.vue'
import BVThead from './BVThead.vue'
import BVTbody from './BVTbody.vue'

const { isBusy } = useBusyContext()
const { isStackedAlways } = useStackedContext()
const {
  theadClass,
  theadTrClass,
  tfootClass,
  tfootTrClass,
  headRowVariant,
  footRowVariant,
  caption,
  captionHtml,
} = useSharedTablePropsContext()

const { headVariant, footVariant, captionId } = useTableStylingContext()
const { fields } = useFieldsContext()

const slots = useSlots()
const headSlots = computed(() => Object.keys(slots).filter((slot) => slot.startsWith('head(')))

const knownBodySlots = new Set([SLOT_NAME_TOP_ROW, SLOT_NAME_BOTTOM_ROW, SLOT_NAME_ROW_DETAILS])

const bodySlots = computed(() =>
  Object.keys(slots).filter(
    (slot) =>
      slot.startsWith('cell(') ||
      knownBodySlots.has(slot) ||
      (isBusy.value && slot === SLOT_NAME_TABLE_BUSY)
  )
)

const footSlots = computed(() => Object.keys(slots).filter((slot) => slot.startsWith('foot(')))
</script>
slots
