<template>
  <component :is="headOrFootComponent" v-bind="computedProps">
    <slot
      :name="SLOT_NAME_THEAD_TOP"
      :columns="fields.length"
      :fields="fields"
      :select-all-rows="selectAllRows"
      :clear-selected="clearSelected"
    />
    <b-tr :class="trClass" :variant="variant">
      <b-v-thead-cell
        v-for="(field, idx) in fields"
        :key="field.key"
        :field="field"
        :col-index="idx"
        :has-head-click-listener="hasHeadClickListener"
        @click="onHeadClicked($event, field)"
      >
        <template v-for="(_, slot) of $slots" #[slot]="scope">
          <slot :name="slot" v-bind="scope" />
        </template>
      </b-v-thead-cell>
    </b-tr>
  </component>
</template>
<script setup lang="ts">
import { computed, PropType } from 'vue'
import { SLOT_NAME_THEAD_TOP } from '../../../constants/slots'
import BThead from '../BThead.vue'
import BTfoot from '../BTfoot.vue'
import BTr from '../BTr.vue'
import BVTheadCell from './BVTheadCell.vue'

import { useSelectableContext } from '../composables/useSelectable'

import { useFieldsContext } from '../composables/useFields'
import { useBusyContext } from '../composables/useBusy'
import { useSortableContext } from '../composables/useSortable'
import { useTableEventsContext } from '../composables/useTableEvents'

import { NormalizedField } from '../utils/normalizeFields'
import { filterEvent } from '../utils/filterEvent'

const props = defineProps({
  type: { type: String as PropType<'thead' | 'tfoot'>, required: true },
  variant: { type: String as PropType<string | null | undefined>, default: undefined },
  trClass: { type: [String, Array, Object], default: undefined },
})

const { emit: emitOnTable, handlers } = useTableEventsContext()
const headOrFootComponent = computed(() => (props.type === 'thead' ? BThead : BTfoot))
const computedProps = computed(() => ({
  [props.type === 'thead' ? 'headVariant' : 'footVariant']: props.variant,
}))

const { selectAllRows, clearSelected } = useSelectableContext()

const { fields } = useFieldsContext()
const { isSortable } = useSortableContext()
const { isBusy } = useBusyContext()

const hasHeadClickListener = computed(() =>
  Boolean(isSortable.value || handlers.value.onHeadClicked)
)

const onHeadClicked = (event: MouseEvent, field: NormalizedField) => {
  if (!hasHeadClickListener.value) {
    return
  }

  if (filterEvent(event)) {
    return
  }

  //  else if (textSelectionActive(this.$el)) {
  //   // User is selecting text, so ignore
  //   return
  // }
  event.stopPropagation()
  event.preventDefault()

  if (isBusy.value) {
    return
  }

  emitOnTable('head-clicked', field.key, field, event, props.type === 'tfoot')
}
</script>
