<template>
  <b-th
    :key="field.key"
    :variant="field.variant"
    :sticky-column="field.stickyColumn"
    :class="classes"
    :style="field.thStyle"
    :tabindex="hasHeadClickListener && field.sortable ? '0' : null"
    :abbr="field.headerAbbr"
    :title="field.headerTitle"
    :aria-label="ariaLabel"
    :aria-colindex="colIndex + 1"
    v-bind="{ ...sortAttrs, ...customThAttributes }"
  >
    <b-v-html-or-slot tag="div" :text="field.label" :html="field.labelHtml">
      <slot
        v-if="slotName"
        :name="slotName"
        :label="field.label"
        :column="field.key"
        :is-foot="isFooter"
        :select-all-rows="selectAllRows"
        :clear-selected="clearSelected"
      />
    </b-v-html-or-slot>
    <span v-if="sortLabel" class="sr-only">{{ sortLabel }}</span>
  </b-th>
</template>

<script setup lang="ts">
import { computed, PropType, useSlots } from 'vue'

import BTh from '../BTh.vue'
import BVHtmlOrSlot from '../../bv-html-or-slot/BVHtmlOrSlot.vue'

import { useTableRowGroupContext } from '../composables/useTableRowGroupContext'
import { useSortableContext } from '../composables/useSortable'

import { NormalizedField } from '../utils/normalizeFields'
import { startCase } from '../../../utils/string'
import { lookupValueFromParent } from '../composables/useLookupValueFromParent'
import { useSelectableContext } from '../composables/useSelectable'

const props = defineProps({
  field: { type: Object as PropType<NormalizedField>, required: true },
  colIndex: { type: Number, required: true },
  hasHeadClickListener: { type: Boolean, required: true },
})

const ariaLabel = computed(() =>
  !props.field.headerTitle && !props.field.label.trim() ? startCase(props.field.key) : null
)

const { sortTheadThAttrs, sortTheadThClasses, sortTheadThLabel } = useSortableContext()
const { tablePart } = useTableRowGroupContext()
const { selectAllRows, clearSelected } = useSelectableContext()

const isFooter = computed(() => tablePart === 'tfoot')

const sortAttrs = computed(() => sortTheadThAttrs(props.field.key, props.field, isFooter.value))
const sortClass = computed(() => sortTheadThClasses(props.field.key, props.field, isFooter.value))
const sortLabel = computed(() => sortTheadThLabel(props.field.key, props.field, isFooter.value))
const customThAttributes = computed(
  () =>
    lookupValueFromParent(props.field.thAttr)(
      null,
      props.field.key,
      null,
      isFooter.value ? 'foot' : 'head'
    ) ?? {}
)

const classes = computed(() =>
  [
    {
      // We need to make the header cell relative when we have
      // a `.sr-only` sort label to work around overflow issues
      'position-relative': sortLabel.value,
    },
    props.field.class,
    props.field.thClass,
    sortClass.value,
  ].filter(Boolean)
)

const getHeadSlotName = (value?: string) => `head(${value || ''})`
const getFootSlotName = (value?: string) => `foot(${value || ''})`

const slotName = computed(() => {
  const slots = useSlots()
  const slotCandidates = [
    ...(isFooter.value
      ? [
          getFootSlotName(props.field.key),
          getFootSlotName(props.field.key.toLowerCase()),
          getFootSlotName(),
        ]
      : []),
    getHeadSlotName(props.field.key),
    getHeadSlotName(props.field.key.toLowerCase()),
    getHeadSlotName(),
  ]

  return slotCandidates.find((candidateName) => candidateName in slots)
})
</script>
