<template>
  <transition v-bind="transProps"><slot></slot></transition>
</template>
<script setup lang="ts">
import { computed, useAttrs, PropType } from 'vue'

const NO_FADE_PROPS = {
  enterFromClass: '',
  enterActiveClass: '',
  enterToClass: 'show',
  leaveFromClass: 'show',
  leaveActiveClass: '',
  leaveToClass: '',
}

const FADE_PROPS = {
  ...NO_FADE_PROPS,
  enterActiveClass: 'fade',
  leaveActiveClass: 'fade',
}

const props = defineProps({
  appear: { type: Boolean, default: false },
  mode: { type: String as PropType<'default' | 'out-in' | 'in-out'> },
  noFade: { type: Boolean },
  // FIXME:
  // transProps: { type: Object as unknown as Record<string, unknown> },
})

const transProps = computed(() => {
  const initialProps = props.noFade ? NO_FADE_PROPS : FADE_PROPS
  return {
    mode: props.mode,
    ...initialProps,
    appear: props.appear,
    css: true,
  }
})
</script>
