<template>
  <b-v-transition :no-fade="!fade">
    <div
      v-if="localShow"
      class="alert"
      :class="alertClasses"
      role="alert"
      aria-live="polite"
      aria-atomic="true"
    >
      <b-button-close v-if="dismissible" :aria-label="dismissLabel" @click="dismiss">
        <slot :name="SLOT_NAME_DISMISS"></slot>
      </b-button-close>
      <slot></slot>
    </div>
  </b-v-transition>
</template>

<script setup lang="ts">
import { computed, nextTick, onBeforeUnmount, ref, watch } from 'vue'
import BButtonClose from '../button/BButtonClose.vue'
import BVTransition from '../transition/BVTransition.vue'
import { SLOT_NAME_DISMISS } from '../../constants/slots'
import { useLegacyVModel } from '../../composables/useLegacyVModel'
import { isNumeric } from '../../utils/inspect'
import { toInteger } from '../../utils/number'
import { EVENT_NAME_DISMISSED, EVENT_NAME_DISMISS_COUNT_DOWN } from '../../constants/events'

type ShowType = boolean | number | string
const props = defineProps({
  dismissLabel: { type: String, default: 'Close' },
  dismissible: { type: Boolean, default: false },
  fade: { type: Boolean, default: false },
  show: { type: [Boolean, Number, String], default: false },
  modelValue: { type: [Boolean, Number, String], default: false },
  variant: { type: String, default: 'info' },
})

const emit = defineEmits<{
  (e: typeof EVENT_NAME_DISMISS_COUNT_DOWN, dismissCountDown: number): void
  (e: typeof EVENT_NAME_DISMISSED): void
}>()

const { value: externalShow, updateModelValue } = useLegacyVModel(props, 'show')

const parseCountDown = (show: ShowType) => {
  if (show === '' || typeof show === 'boolean') {
    return 0
  }
  const normalizedShow = toInteger(show, 0)
  return normalizedShow > 0 ? normalizedShow : 0
}

// Convert `show` value to a boolean
const parseShow = (show: ShowType) => {
  if (show === '' || show === true) {
    return true
  }
  if (toInteger(show, 0) < 1) {
    // Boolean will always return false for the above comparison
    return false
  }
  return !!show
}

const countDown = ref(parseCountDown(externalShow.value))
const localShow = ref(parseShow(externalShow.value))

const alertClasses = computed(() => ({
  'alert-dismissible': props.dismissible,
  [`alert-${props.variant}`]: Boolean(props.variant),
}))

watch(externalShow, (newValue) => {
  countDown.value = parseCountDown(newValue)
  localShow.value = parseShow(newValue)
})

let countdownTimeout: number | null = null
const clearCountDownTimeout = () => {
  if (countdownTimeout) {
    clearTimeout(countdownTimeout)
    countdownTimeout = null
  }
}

watch(
  countDown,
  async (newValue) => {
    clearCountDownTimeout()

    // Ignore if `show` transitions to a boolean value
    if (!isNumeric(externalShow.value)) return

    emit(EVENT_NAME_DISMISS_COUNT_DOWN, newValue)

    if (externalShow.value !== newValue) {
      updateModelValue(newValue)
    }

    if (newValue > 0) {
      localShow.value = true
      countdownTimeout = setTimeout(() => {
        countDown.value -= 1
      }, 1000)
    } else {
      await nextTick()
      localShow.value = false
    }
  },
  { immediate: true }
)

watch(
  localShow,
  (newValue) => {
    // Only emit dismissed events for dismissible or auto-dismissing alerts
    if (!newValue && (props.dismissible || isNumeric(externalShow.value))) {
      emit(EVENT_NAME_DISMISSED)
    }
    // Only emit booleans if we weren't passed a number via v-model
    if (!isNumeric(externalShow.value) && externalShow.value !== newValue) {
      updateModelValue(newValue)
    }
  },
  { immediate: true }
)

onBeforeUnmount(clearCountDownTimeout)

const dismiss = () => {
  clearCountDownTimeout()
  countDown.value = 0
  localShow.value = false
}

defineExpose({ dismiss })
</script>
