<template>
  <b-v-table-wrapper :class="wrapperClasses" :style="wrapperStyles">
    <b-v-table :id="id" class="table b-table" :class="classes" v-bind="tableAttrs">
      <template v-for="(_, slot) of $slots" #[slot]="scope">
        <slot :name="slot" v-bind="scope" />
      </template>
    </b-v-table>
  </b-v-table-wrapper>
</template>
<script lang="ts">
export default { inheritAttrs: false }
</script>
<script setup lang="ts">
import { computed, useAttrs, useSlots } from 'vue'
import BVTableWrapper from './components/BVTableWrapper.vue'
import BVTable from './components/BVTable.vue'

import { useStacked } from './composables/useStacked'
import { useFields } from './composables/useFields'
import { useBusy } from './composables/useBusy'
import { useTableStyling } from './composables/useTableStyling'
import { provideTableEventsContext } from './composables/useTableEvents'
import { useSharedTableProps } from './composables/useSharedTableProps'
import { props as propsConfig } from './BTable.props'
import { NormalizedField } from './utils/normalizeFields'
import { SLOT_NAME_TABLE_CAPTION } from '../../constants/slots'
import { useItems } from './composables/useItems'
import { registerInstanceForParentLookup } from './composables/useLookupValueFromParent'

const props = defineProps(propsConfig)

const emit = defineEmits<{
  (
    e: 'head-clicked',
    key?: string,
    field?: NormalizedField,
    event?: MouseEvent,
    isFoot?: boolean
  ): void
  (e: 'update:busy', value: boolean): void
}>()

provideTableEventsContext(props, emit)
useSharedTableProps(props)
registerInstanceForParentLookup()

const { class: cls, ariaDescribedBy, ...restAttrs } = useAttrs()
const { isBusy } = useBusy(props, emit)

const { items } = useItems(
  props,
  computed(() => props.items ?? [])
)
useFields(props, { items })
const {
  wrapperClasses,
  wrapperStyles,
  tableClasses,
  tableAttrs: liteTableAttrs,
  isStacked,
  hasCaption: hasCaptionFromProps,
  captionId,
} = useTableStyling(props)

const slots = useSlots()
const hasCaption = computed(() =>
  Boolean(slots[SLOT_NAME_TABLE_CAPTION] || hasCaptionFromProps.value)
)

const tableAttrs = computed(() => ({
  ...liteTableAttrs.value,
  'aria-busy': isBusy.value,
  'aria-colcount': props.fields?.length ?? 0,
  'aria-describedby': ariaDescribedBy || hasCaption.value ? captionId.value : null,
  ...restAttrs,
}))

const { stackedTableClasses } = useStacked({ isStacked })

const classes = computed(() => [...tableClasses.value, stackedTableClasses.value, cls])
</script>
