<template>
  <b-v-table-wrapper :class="wrapperClasses" :style="wrapperStyles" v-bind="tableAttrs">
    <table class="table b-table" :class="classes" :id="id">
      <slot></slot>
    </table>
  </b-v-table-wrapper>
</template>
<script lang="ts">
export default { inheritAttrs: false }
</script>
<script setup lang="ts">
import { computed } from 'vue'
import BVTableWrapper from './components/BVTableWrapper.vue'

import { props as propsConfig } from './BTableSimple.props'
import { useStacked } from './composables/useStacked'
import { useTableStyling } from './composables/useTableSimpleStyling'

const props = defineProps(propsConfig)

const { isStacked, wrapperClasses, wrapperStyles, tableClasses, tableAttrs } =
  useTableStyling(props)
const { stackedTableClasses } = useStacked({ isStacked })

const classes = computed(() => [...tableClasses.value, stackedTableClasses.value])

/*

// FIXME :hover
  // let { hover, tableVariant } = this
  // hover = this.isTableSimple
  //   ? hover
  //   : hover && this.computedItems.length > 0 && !this.computedBusy


'aria-rowcount': rowCount,
*/
</script>
