<template>
  <tfoot
    role="rowgroup"
    :class="{
      [`thead-${footVariant}`]: footVariant,
    }"
  >
    <slot></slot>
  </tfoot>
</template>
<script setup lang="ts">
import { computed } from '@vue/reactivity'
import { provideTableRowGroupContext } from './composables/useTableRowGroupContext'

const props = defineProps({
  footVariant: { type: String },
})

provideTableRowGroupContext({
  isStickyHeader: computed(() => false),
  rowGroupVariant: computed(() => props.footVariant),
  tablePart: 'tfoot',
})
</script>
