<template>
  <tr
    role="row"
    :class="{
      [`${isRowDark ? 'bg' : 'table'}-${variant}`]: variant,
    }"
  >
    <slot />
  </tr>
</template>
<script setup lang="ts">
import { computed, PropType } from 'vue'
import { useTableStylingContext } from './composables/useTableStyling'
import { useTableRowGroupContext } from './composables/useTableRowGroupContext'
import { provideTableRowContext } from './composables/useTableRowContext'

const LIGHT = 'light'
const DARK = 'dark'

const props = defineProps({
  variant: { type: String as PropType<string | null | undefined> },
})

const { isDark } = useTableStylingContext()
const { rowGroupVariant } = useTableRowGroupContext()
const isRowDark = computed(() => {
  return rowGroupVariant.value === LIGHT
    ? false
    : rowGroupVariant.value === DARK
    ? true
    : isDark.value
})
provideTableRowContext({
  rowVariant: computed(() => props.variant),
})
</script>
