<template>
  <component
    :is="computedTag"
    :class="{ active, disabled }"
    v-bind="computedProps"
    @click="onClick"
  >
    <slot></slot>
  </component>
</template>

<script lang="ts">
export default { inheritAttrs: false }
</script>
<script setup lang="ts">
import { ComponentInternalInstance, computed, getCurrentInstance, toRefs, useAttrs } from 'vue'

import { linkProps } from './BLink.props'

import { useEventHub } from '../../composables/useEventHub'
import { useRouter } from '../../composables/useRouter'
import { NAME_LINK } from '../../constants/components'

import { attemptBlur, attemptFocus, isTag } from '../../utils/dom'
import { getRootEventName } from '../../utils/events'
import { stringifyQueryObj } from '../../utils/router'

const ROOT_EVENT_NAME_CLICKED = getRootEventName(NAME_LINK, 'clicked')

const props = defineProps(linkProps)

const emit = defineEmits<{
  (e: 'click', event: MouseEvent): void
}>()

const computedTag = computed(() => {
  const { hasRouter, defaultLinkComponent } = useRouter().value
  if (!hasRouter || props.disabled || !props.to) {
    return 'a'
  }

  return props.routerComponentName || defaultLinkComponent
})

const isRouterLink = computed(() => computedTag.value.toLowerCase() !== 'a')
const computedHref = computed(() => {
  // Return `href` when explicitly provided
  if (props.href) {
    return props.href
  }

  if (isRouterLink.value) {
    return null
  }

  // Fallback to `to` prop (if `to` is a string)
  if (typeof props.to === 'string') {
    return props.to || '/'
  }

  // Fallback to `to.path' + `to.query` + `to.hash` prop (if `to` is an object)
  if (typeof props.to === 'object' && (props.to.path || props.to.query || props.to.hash)) {
    const path = props.to.path
    const query = stringifyQueryObj(props.to.query)
    let hash = props.to.hash ?? ''
    hash = !hash || hash.charAt(0) === '#' ? hash : `#${hash}`

    return `${path}${query}${hash}` || '/'
  }

  // If nothing is provided return the fallback
  return '#'
})

const computedRel = computed(() =>
  props.target === '_blank' && props.rel === null ? 'noopener' : props.rel || null
)

const eventHub = useEventHub()
const onClick = (event: MouseEvent) => {
  if (props.disabled) {
    event.preventDefault()
    // Kill the event loop attached to this specific `EventTarget`
    // Needed to prevent `vue-router` for doing its thing
    event.stopImmediatePropagation()
    return
  }

  // FIXME: Router links do not emit instance `click` events???
  emit('click', event)
  eventHub.emit(ROOT_EVENT_NAME_CLICKED, event)
  eventHub.emit('clicked::link', event)
  // Stop scroll-to-top behavior or navigation on
  // regular links when href is just '#'
  if (!isRouterLink.value && computedHref.value === '#') {
    event.preventDefault()
  }
}

const computedProps = computed(() => {
  const {
    active,
    disabled,
    href,
    rel,
    routerComponentName,
    target,
    event,
    prefetch,
    routerTag,
    ...restProps
  } = toRefs(props)

  const attrs = useAttrs()
  return {
    ...attrs,
    'aria-disabled': disabled.value ? 'true' : null,
    tabindex: props.disabled ? '-1' : attrs['tabindex'] ?? null,
    ...(event?.value ? { event: event.value } : {}),
    ...(prefetch?.value ? { prefetch: prefetch.value } : {}),
    // Pass `router-tag` as `tag` prop
    ...(routerTag?.value ? { tag: routerTag.value } : {}),
    ...(computedHref.value ? { href: computedHref.value } : {}),
    // We don't render `rel` or `target` on non-link tags when using `vue-router`
    ...(isRouterLink.value && props.routerTag && !isTag(props.routerTag, 'a')
      ? {}
      : { rel: computedRel.value, target: props.target }),
    ...(computedTag.value !== 'a'
      ? Object.fromEntries(Object.entries(restProps).map(([key, { value }]) => [key, value]))
      : {}),
  }
})

const component = getCurrentInstance() as ComponentInternalInstance
const focus = () => {
  attemptFocus(component.vnode.el)
}
const blur = () => {
  attemptBlur(component.vnode.el)
}

defineExpose({ focus, blur })
</script>
